#game-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 3.5rem;

  min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;

    .buttons {
      display: flex;
      gap: 1rem;
    }

    a {
      text-decoration: none;
      padding: 1rem 2rem;
      background-color: $white;
      border: 2px solid $black;
      border-radius: 100px;
    }
  }

  main {
    width: 100%;
    max-width: 70vw;
  }

  footer {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;

    .data-field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $white;
      border: 2px solid black;
      border-radius: 0.5rem;
      padding: 1rem 2rem;
      flex: 1 1 25%;
      max-width: 15rem;

      p {
        color: #7191a5;
        // font-family: "Space Mono", monospace;
      }
      h2 {
        color: $primary-600;
        @include number-md-bold;
      }
    }
  }

  .menu-btn {
    display: none;
  }
}

.game-board {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .row {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 1rem;
  }
}

.cell {
  position: relative;
  aspect-ratio: 1/1;
  flex: 1;
  max-width: 7rem;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  button {
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
    background-color: $white;
    border: 2px solid $black;
    // border-bottom: 5px solid $black;
    cursor: pointer;
    border-radius: 0.5rem;
  }

  p {
    background-color: #bcced9;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: default;
  }
}

.cell {
  p {
    transition: all 0.25s linear;
    background-color: $white;
    border: 2px solid $black;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
  }

  button {
    transition: all 0.25s linear;
    background-color: $white;
    transform: rotateY(0);
  }

  &.flipped {
    button {
      transform: rotateY(-180deg);
    }
    p {
      transform: rotateY(0);
    }
  }

  &.matched {
    button {
      animation-delay: 250ms;
      transform: rotateY(-180deg);
      opacity: 0;
    }
    p {
      animation-delay: 250ms;
      transform: rotateY(0);
      color: $main-color;
      border: none;
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 768px) {
  #game-view {
    padding: 1rem;
    main {
      max-width: 90vw;
    }
    .game-board {
      gap: 0.5rem;
    }
    .row {
      gap: 0.5rem;

      &.two-chars p {
        font-size: 2rem;
      }
      & .cell.two-char p {
        font-size: 1.75rem;
      }
    }
    // .cell p {
    // font-size: 2rem;
    // }
    // .cell.two-char p {
    // font-size: 1.5rem;
    // }
    footer {
      flex-direction: column;
      .data-field {
        max-width: 100%;
      }
    }
    .menu-btn {
      display: block;
    }
    .button {
      display: none;
    }
  }
}
