#settings-view {
  background-color: $bg-dark-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 1rem;

  main {
    background-color: $bg-color;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 700px;
  }

  button {
    width: 100%;
    border: none;
    background-color: $orange-500;
    color: $bg-color;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 100px;

    &:hover {
      background-color: $orange-600;
    }
    &:disabled {
      background-color: $orange-300;
      color: $bg-color;
      cursor: not-allowed;
    }
  }

  input {
    width: 100%;
  }

  fieldset {
    border: none;
  }

  .info-row {
    display: flex;
    gap: 1rem;
    .info-container {
      background-color: $gray-100;
      flex: 1;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      border-radius: 0.5rem;
    }
  }
}

// @media screen and (max-width: 768px) {
//   #settings-view {
//     .info-row {
//       flex-direction: column;
//       gap: 1rem;
//     }
//   }
// }
@media screen and (max-width: 500px) {
  #settings-view {
    .info-row {
      flex-direction: column;
      gap: 1rem;
    }
  }
}
